<h1 class="bg-info text-center font-weight-bold p-3">ngFor</h1>

<ul class="nav nav-pills">
  <li *ngFor="let skill of skillsArr; trackBy:trackById;" class="nav-item">
    <a (click)="selectedSkill = skill.skillNAme"
    [ngClass]="{
        active : selectedSkill.toLowerCase().includes(skill.skillNAme.toLowerCase())
    }"
    href="javascript:;" class="nav-link">
      {{ skill.skillNAme }}
    </a>
  </li> 
</ul>

<hr>

<ng-container *ngFor="let skill of skillsArr">
  <div *ngIf="selectedSkill.toLowerCase().includes(skill.skillNAme.toLowerCase())" class="card">
    <div class="card-body">
      <strong>
        {{skill.skillNAme | uppercase}}
      </strong>
      {{skill.skillInfo}}
    </div>
  </div>
</ng-container>
