<h1 class="bg-warning text-center p-3 font-weight-bold">ngIf</h1>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a (click)="onSkillChange('HTML')"
         [ngClass]="{
            active : selectedSkill.toLowerCase().includes('html')
        }"
         href="javascript:;" class="nav-link">HTML</a>
    </li>
    <li class="nav-item">
        <a (click)="onSkillChange('CSS')"
        [ngClass]="{
            active : selectedSkill.toLowerCase().includes('css')
        }"
         href="javascript:;" class="nav-link">CSS</a>
    </li>
    <li class="nav-item">
        <a (click)="onSkillChange('JAVASCRIPT')"
        [ngClass]="{
            active : selectedSkill.toLowerCase().includes('javascript')
        }"
         href="javascript:;" class="nav-link">JAVASCRIPT</a>
    </li>
    <li class="nav-item">
        <a (click)="onSkillChange('ANGULAR')"
        [ngClass]="{
            active : selectedSkill.toLowerCase().includes('angular')
        }"
        href="javascript:;" class="nav-link">ANGULAR</a>
    </li>
</ul>

<hr>

<div class="card" *ngIf="selectedSkill.toLowerCase().includes('html')">
    <div class="card-body">
        <strong>HTML</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quae eos, placeat incidunt ea possimus!
    </div>
</div>
<div class="card" *ngIf="selectedSkill.toLowerCase().includes('css')">
    <div class="card-body">
        <strong>CSS</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quae eos, placeat incidunt ea possimus!
    </div>
</div>
<div class="card" *ngIf="selectedSkill.toLowerCase().includes('javascript')">
    <div class="card-body">
        <strong>JAVASCRIPT</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quae eos, placeat incidunt ea possimus!
    </div>
</div>
<div class="card" *ngIf="selectedSkill.toLowerCase().includes('angular')">
    <div class="card-body">
        <strong>ANGULAR</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quae eos, placeat incidunt ea possimus!
    </div>
</div>